<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Example App</title>
    <style rel="stylesheet" href="https://beer-beer-beer.herokuapp.com/public/styles/homesheet.css">

<body>

    {{{body}}}

</body>
</html>