<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Beer Beer Beer!</title>
    
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/miscss.css">
</head>
<body>

    {{{body}}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>

        $(document).ready(function($) {
            $(".clickable-row").click(function() {
                //window.location = $(this).data("href");
                console.log('something something something');
                console.log($('.state-select').find(":selected").text());
                $('<form action='+$(this).data("href")+'></form>').append($('<input class="hidden" name="beerid" value='+$(this).data("beerid")+'></input>'))
                .append($('<input class="hidden" name="stid" value='+$('.state-select').find(":selected").val()+'></input>')).submit();
            });
        });

		$(document).ready(function($) {
		    $(".clickable-row").mouseenter(function() {

                $("#beername").text($(this).find('td').eq(0).text())
                $("#beerstyle").text($(this).find('td').eq(3).text()) 
                $("#brewery").text($(this).find('td').eq(1).text()) 
                $("#rating").text($(this).find('td').eq(4).text())

                console.log($(this).data("desclist"))
                for (x in $(this).data("desclist")){
                    console.log($(this).data("desclist")[x])
                    $("#"+x.split('/')[0]+"bar").animate({width: $(this).data("desclist")[x]+'vw', 'margin-left': (50-$(this).data("desclist")[x])+'vw'})
                    
                }

                $("#compholder").removeClass('hidden')
                $("#compholder").animate({'margin-left':'0vw'}, function (){
                    //$("#constholder").animate({'width': '50vw'})
                    $("#maincontainer").animate({'width': '50vw'})
                })


                
                
		    }).mouseleave(function(){
                $("#compholder").addClass('hidden')
            });
		});

        $(document).ready(function($) {
            $(".clickable-filter").click(function() {
                //window.location = $(this).data("href");
                console.log('something something something');
                console.log($('.state-select').find(":selected").text());
                $('<form action='+$(this).data("href")+'></form>').append($('<input class="hidden" name="beerid" value='+$(this).data("beerid")+'></input>'))
                .append($('<input class="hidden" name="stid" value='+$('.state-select').find(":selected").val()+'></input>')).submit();
            });
        });
    </script>

</body>
</html>