<form action = "/bsearch/">
		Search California Beers
		<input type='text' name='beer'>
		<input type="submit" value="Submit">
</form>	


<div id='beerdiv'>

	{{#each beers}}
    	<div class="beer">
        	{{{body}}}
    	</div>
  	{{/each}}

</div>

	