<!--<nav class='navbar navbar-inverse navbar-fixed-top'> 
    <div id="navbar">
        <form action = "/bsearch/">Search Beers<input type='text' name='beer'>
        		<input type="submit" value="Search">
        </form>	
        <a class="navbar-brand" href="#">Project name</a>
    </div>
</nav>-->



    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Search Beers</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form action="/bsearch" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" name='beer' class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Search</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>




<div class='container'>
    Let's start here.

    <div class='container'>
      <select class='state-select'>
        {{#each descriptors}}
          <option value="{{this}}">{{{this}}}</option>
        {{/each}}
      </select>

</div>


<script src="js/d3.v3.min.js"></script>
<script src="js/d3-starPlot.js"></script>
<script>

var margin = {
  top: 36,
  right: 50,
  bottom: 20,
  left: 50
};
var width = 240 - margin.left - margin.right;
var height = 240 - margin.top - margin.bottom;
var labelMargin = 8;

var scale = d3.scale.linear()
  .domain([0, 100])
  .range([0, 100])
console.log({{{json top}}})
var keys = Object.keys({{{json top}}})
console.log(keys)
var star = d3.starPlot()
      .width(width)
      .accessors([
        function(d) { return scale(d.keys[0]); },
        function(d) { return scale(d.keys[1]); },
        function(d) { return scale(d.keys[2]); },
        function(d) { return scale(d.keys[3]); },
        function(d) { return scale(d.keys[4]); },
        function(d) { return scale(d.keys[5]); },
        function(d) { return scale(d.keys[6]); },
        function(d) { return scale(d.keys[7]); },
        function(d) { return scale(d.keys[8]); },
        function(d) { return scale(d.keys[9]); },
        
      ])
      .labels([
        d.keys[0],
        d.keys[1],
        d.keys[2],
        d.keys[3],
        d.keys[4],
        d.keys[5],
        d.keys[6],
        d.keys[7],
        d.keys[8],
        d.keys[9],
       
      ])
      .title("plot here")
      .margin(margin)
      .labelMargin(labelMargin)

d3.select('#target').append('svg')
        .attr('class', 'chart')
        .attr('width', width + margin.left + margin.right)
        .attr('height', width + margin.top + margin.bottom)
        .append('g')
          .datum(top)
          .call(star)

</script>
<div id='target'></div>
	