body {
  width: 960px;
  margin: auto;
  font-family: Arial;
}
#target {
  margin: 40px 0;
}
.chart {
  margin-bottom: 40px;
}
.star-title {
  font-size: 14px;
}
.star-label {
  font-size: 11px;
}
.star-origin {
  fill: #731;
}
.star-axis {
  stroke: #724;
  stroke-width: 2px;
  stroke-dasharray: 4 5;
}
.star-path {
  stroke: #087;
  stroke-width: 2px;
  fill: #709CB1;
  fill-opacity: 0.6;
}

