div.bar {
		height: 3vh; 
		background-color: #f00; 
		color: #fff; 
		padding-left: .5vw; 
		margin-left: 17%
}

@media (min-width: 320px) 
and (max-width: 600px) {
	div.bar {
		height: 3vh; 
		background-color: #f00; 
		color: #fff; 
		padding-left: .5vw; 
		margin-left: 50.33333333%
	}
}

div.compbar {
		height: 3vh; 
		background-color: #f00; 
		color: #fff;
		
}

@media (min-width: 320px) 
and (max-width: 600px) {
	div.bar {
		height: 3vh; 
		background-color: #f00; 
		color: #fff; 

	}
}

