body {
	background-color: lightblue;
}

#beerstab {
	width: 100%;
}
#searchbar {
	position: fixed;
	background-color: blue;
	width: 100%;
	/*padding: 0%;*/
	margin: 0%;
}

@media (min-width: 600px) {
	body {
		background-color: darkred;
	}
}